<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Confirm</title>
	</head>
	<table>
		<tr>
			<th>Id:		</th>
			<td th:text="${student.id}"></td>
		</tr>
		<tr>
			<th>Name:		</th>
			<td th:text="${student.name}"></td>
		</tr>
		<tr>
			<th>DOB:		</th>
			<td th:text="${#dates.format(student.dob, 'dd-MM-yyyy')}"></td>
		</tr>
		<tr>
			<th>Department:		</th>
			<td th:text="${student.department}"></td>
		</tr>
	</table>
	<form method="post" th:action="@{/addStudent/confirm}" th:object="${student}">
		<input type="submit" value="Confirm"/>
		<input type="hidden" th:name="action" th:value="Yes"/>
	</form>
	
	<form method="post" th:action="@{/addStudent/confirm}" th:object="${student}">
		<input type="submit" value="Back"/>
		<input type="hidden" th:name="action" th:value="No"/>
	</form>
</html>